.light-theme{
    --page-background: #f0eef6;
    --page-foreground: #fff;

    --navbar-bg-colore: #ffffff;
    --navbar-boxshadow: #32325d1a 0px 2px 5px -1px, #00000021 0px 1px 3px -1px;
    --searchbar-background-colore: #f0f2f5; 
    --search-icon-colore: #65676b;
    --nav-icon-bakground-colore: #e4e6eb;
    --nav-icon-colore: #060606f7;
    --nav-icon-hover-bakground-colore: #d0d1d4;
    --nav-icon-hover--colore: #000000;

    --forground-colore: #ffffff;
    --without-user-profile-image-bg: #e4e6eb;
}
