.home-root {
  margin-top: 65px;
  margin-left: 260px;
  z-index: 10;
  overflow-x: hidden;
  padding: 10px;
  // margin-left: 300px;
  .left-section {
    // background: #6f9cb9;
  }
  .post-section {
    // background: #214964;
  }
  .right-side {
    // background: #204157;
  }
}
