.name {
    font-family: "Merienda";
    font-size: 1rem;
  }
  .active{
      font-family: "Merienda";
      font-size: 0.8rem;
  }
  .headers{
      font-family: "Merienda";
  }

  .names{
    font-family: "Merienda";
    font-size: 1rem;
  }